<button ab-button variant="secondary" (click)="show('top-left')">Top left</button>
<button ab-button variant="secondary" (click)="show('top-center')">Top center</button>
<button ab-button variant="secondary" (click)="show('top-right')">Top right</button>
<button ab-button variant="secondary" (click)="show('center')">Center</button>
<button ab-button variant="secondary" (click)="show('bottom-left')">Bottom left</button>
<button ab-button variant="secondary" (click)="show('bottom-center')">Bottom center</button>
<button ab-button variant="secondary" (click)="show('bottom-right')">Bottom right</button>
